html {
  display: flex;
  max-width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  max-width: 100%;
  margin: 1em;
}

form {
  max-width: 75%;
  margin: auto;
}

h2 {
  width: 5em;
  margin: 1em auto;
}

img {
  width: 10em;
  height: auto;
  margin: auto;
}

ul {
  width: 10em;
  margin: auto;
}
